h1 {
  font-family: sans-serif;
  color: white;
  font-size: 50px;
}

.Menu {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif, "Times New Roman", Times,
    serif;
  font: size 100px;
  display: block;
  margin-top: 10px;
}
h2,
h3 {
  color: black;
}
li {
  color: black;
}

.contact {
  color: black;
}
